.movie {
  transition: all 0.2s linear;
  margin: 0px 2px;
  display: flex;
  flex-direction: column;
  width: 150px;
}

.movie img {
  width: 100%;
  width: auto;
  height: auto;
}

.green {
  color: green;
}

.border {
  border: 1px solid white;
  font-size: 12px;
}
