.movie {
  transition: all 0.6s ease-out;
  /* transition: all 0.54s cubic-bezier(0.5, 0, 0.1, 1); */
  margin: 0px 2px;
  display: flex;
  flex-direction: column;
  width: 200px;
}

.movie img {
  width: 100%;
  width: auto;
  height: auto;
}

.green {
  color: green;
}

.border {
  border: 1px solid white;
  font-size: 12px;
}
