.movie-modal {
  position: absolute;
  width: 300px;
  /* height: 300px; */
  z-index: 4;
  display: flex;
  flex-direction: column;
}

.movie-modal img {
  flex: 1;
}

.movie-details {
  width: 100%;
  background-color: black;
  padding: 10px;
  position: relative;
  z-index: 1;
  transition: all 0.2s linear;
  flex: 1;
  /* visibility: hidden; */
}

/* .movie:hover .movie-details {
  visibility: visible;
  transition: all 0.2s linear 0.5s;
} */

.movie-details__info-line span {
  font-size: 14px;
  /* white-space: nowrap; */
}
