.movie-modal {
  position: absolute;
  /* width: 300px; */
  width: 0;
  z-index: 4;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.75);
  /* transition: scale 3s; */
}

.movie-modal img {
  flex: 1;
}

.movie-details {
  width: 100%;
  background-color: black;
  padding: 10px;
  position: relative;
  z-index: 1;
  /* transition: all 0.2s linear; */
  flex: 1;
  /* visibility: hidden; */
}

/* .movie:hover .movie-details {
  visibility: visible;
  transition: all 0.2s linear 0.5s;
} */

.movie-details__info-line span {
  font-size: 14px;
  /* white-space: nowrap; */
}

.example-enter {
  width: 200px;
  transform: scale(1);
}
.example-enter-active {
  transform: scale(1.5);
  transition: all 300ms;
}
/* .example-enter-done {
  width: 300px;
} */
.example-exit {
  transform: scale(1.5);
}
.example-exit-active {
  transform: scale(1);
  transition: all 300ms;
}
