* {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 14px;
}

body {
  background-color: black;
}

i {
  padding: 10px;
}

header {
  padding: 5px 20px;
  background-image: url("http://occ-0-1413-1412.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABZRzrdrgF5Z59V8FJFAzWG-s7kX-OqTS1dnLAIch8Sm2ySruAH88YefXwgrUwEiQItFNPAh0Dz3rYhGThz1X3DGAuhq8wSCTXQgP.jpg?r=4a0");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  position: relative;
}

.header__top-row {
  display: flex;
  justify-content: space-between;
}

.header__top-row--left,
.header__top-row--right {
  display: flex;
  align-items: center;
}

.header__top-row h1 {
  display: inline-block;
  margin-right: 20px;
}

.header__top-row--right img {
  height: 30px;
  border-radius: 6px;
}

.icon {
  margin: 0px 10px;
}

.tooltip {
  background-color: black;
  opacity: 0.8;
  color: white;
  position: absolute;
  top: 30px;
  right: 20%;
  /* transform: translateX(-50%); */
  white-space: nowrap; /* this was key */
  justify-content: flex-start;
}

.bell-tooltip {
  display: flex;
  padding: 15px;
}

.bell-tooltip div {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.bell-tooltip img {
  width: 100px;
  height: 50px;
  object-fit: cover;
  object-position: top;
}

.profile-tooltip {
  padding-top: 10px;
}

.profile-tooltip__section {
  padding: 5px 10px;
  border-bottom: 1px solid rgb(255, 255, 255, 0.5);
}

.profile-tooltip-row {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.profile-tooltip-row > :first-child {
  margin-right: 5px;
}

.profile-tooltip__sign-out {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.red {
  color: red;
}

.gray {
  color: gray;
}

button {
  color: black;
  padding: 15px;
  border: none;
  margin: 10px;
}

.gray-button {
  background-color: gray;
}

.header-main__left-section {
  width: 40%;
}

.row {
  margin: 10px;
}

.images-container {
  height: 200px;
  display: flex;
  justify-content: center;
}

img {
  height: 100%;
  /* width: auto; */
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  width: 90%;
  height: 90%;
  background-color: black;
  padding: 20px;
}

.movie-image {
  margin: 0px 2px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  transition: all 0.2s linear;
}

.movie-image:hover {
  transform: scale(1.3);
  transition: all 0.2s linear 0.5s;
  z-index: 1;
}

.movie-bottom {
  background-color: black;
  padding: 10px;
}

.movie-bottom__line {
  padding: 5px 0px;
}

.movie-bottom__line span {
  margin: 0px 3px;
}

.green {
  color: green;
}

.border {
  border: 1px solid white;
}
