* {
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background-color: black;
}

i {
  padding: 10px;
}

h1 {
  display: inline-block;
}

span {
  padding: 10px;
}

img {
  height: 100%;
  /* width: auto; */
}

header {
  padding: 5px 20px;
  background-image: url("http://occ-0-1413-1412.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABZRzrdrgF5Z59V8FJFAzWG-s7kX-OqTS1dnLAIch8Sm2ySruAH88YefXwgrUwEiQItFNPAh0Dz3rYhGThz1X3DGAuhq8wSCTXQgP.jpg?r=4a0");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  position: relative;
}

.header__top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__top-row__left,
.header__top-row__right {
  display: flex;
  align-items: center;
}

.header__top-row__right img {
  height: 30px;
  border-radius: 5px;
}

.header-icon {
  font-size: 25px;
  padding: 0px 10px;
}

.red {
  color: red;
}

.gray {
  color: gray;
}

button {
  color: black;
  padding: 15px;
  border: none;
  margin: 10px;
}

.gray-button {
  background-color: gray;
}

.header-main__left-section {
  width: 40%;
}

.row {
  margin: 10px;
}

.images-container {
  height: 200px;
  display: flex;
  justify-content: center;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  width: 90%;
  height: 90%;
  background-color: black;
  padding: 20px;
}

.tooltip-wrapper {
  position: relative;
}

.tooltip {
  position: absolute;
  background-color: black;
  opacity: 0.9;
  top: 40px;
  display: none;
}

.tooltip-wrapper:hover .tooltip {
  display: block;
}

.tooltip ul {
  list-style-type: none;
  padding: 10px;
}

.tooltip li {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.tooltip li img,
.tooltip li .icon {
  margin-right: 10px;
}

.tooltip-sign-out {
  padding: 20px;
  text-align: center;
}

.browse-list-item {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.tooltip.right {
  right: 0;
  left: auto;
}

.tooltip.browse {
  left: 0;
  right: auto;
}

.green {
  color: green;
}

.border {
  border: 1px solid white;
  font-size: 12px;
}

.movie {
  transition: all 0.2s linear;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.movie:hover {
  transform: scale(1.5);
  transition: all 0.2s linear 0.5s;
}

.movie-details {
  width: 100%;
  background-color: black;
  padding: 10px;
  position: relative;
  z-index: 1;
  transition: all 0.2s linear;
  visibility: hidden;
}

.movie:hover .movie-details {
  visibility: visible;
  transition: all 0.2s linear 0.5s;
}

/* .movie-details__info-line span {
  white-space: nowrap;
} */
